
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    margin: 50px;
    
  } 
  h4{
    font-size: 24px;
    font-weight: 100px;
    margin-bottom: 40px;
  }
  
 
  .row input{
    background-color: black;
    border: 1px solid lightgray;
    height: 40px;
    padding-left: 10px;
    border-radius: 0%;
    color: lightgray;

    
  }
  .row label{
    margin-bottom: 10px;
  }
  #add-employee{
    border-radius: 0%;
    margin-bottom: 20px;
  }
  .error{
    color: rgb(244, 11, 11);
    margin-bottom: 10px;
  }

  .success {
    color: rgb(108, 248, 108);
    margin-bottom: 10px;
  }

 /* button{
    border-radius: 10px;
} */



/* .employees{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    /* border: 1px solid white;
    padding: 10px 0px;

}*/
.employees{
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
    /* width: fit-content; */
}
.employees-details{
    border: 1px solid white;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    border-radius: 6px;
    width: 45rem;
    height: 3.5rem;
}
.delete-button{

    padding: 6px 20px;
    border-radius: 20px;
    height: 2.5rem;
    border:none;
    cursor: pointer;
}

 #employee-list p{
 color: rgb(83, 89, 97);
}
/*
#employee-list div{

position: relative;
    width: 60rem;
    border-radius: 10px;
}
#employee-list button{
    position: relative;
    margin-left: 20px;
    border-radius: 50px;
    width: 8rem;
    height: 42px;
} */

  /* For screens smaller than 850px
  @media (max-width: 850px) {
    /* CSS styles here
    body {
      font-size: 14px;
      
    }
    .container {
      margin: 10px;
      overflow-x: hidden;
    }
    .input-container {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 10px;
    }
    .info-container input {
      width: 100%;
    }
    
  } */